@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500;600;700&display=swap");

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: IBM Plex Sans;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  align-self: center;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  flex: 0.5;
  height: 90vh;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.panel h1 {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active h1 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active h1.Yamato {
  color: Red;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
.panel.active {
  flex: 5;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

.back-button {
  position: absolute;
  top: 15px;
  right: 15px;
}
